@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ltGreen: #606c38;
  --dkGreen: #283618;
  --beige: #fefae0;
  --ltOrange: #dda15e;
  --dkOrange: #bc6c25;
}

body {
  margin: 0;
  padding: 0;
  background: var(--beige);
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
}
button {
  font-weight: 700;
}
label {
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  width: 400px;
  border: 2px solid white;
}

p {
  max-width: 400px;
  font-size: 12px;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Login */

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.auth-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  width: 400px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
/* Navbar */
.navbar {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  padding-right: 10%;
  padding-left: 10%;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-decoration: none;
}
.navbar-link:hover {
  padding: 8px 15px;
  border-radius: 10px;
  border: white solid 2px;
}
.active {
  padding: 8px 15px;

  background: linear-gradient(to right top, var(--ltGreen), var(--dkGreen));
  border-radius: 10px;
  border: white solid 3px;
}
#logout-button {
  font-size: 25px;
}

/*Homepage*/
.all-recipes-title {
  font-size: xx-large;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  background: linear-gradient(to right, var(--ltGreen), var(--dkGreen));
  border-radius: 15px;
  margin-left: 1em;
  margin-right: 1em;
}
.all-recipes-title h2 {
  font-weight: 650;
  margin-left: 20px;
  margin-bottom: 1px;
  padding: 0px 1em 0.2em 1em;
  background: linear-gradient(to right top, var(--ltOrange), var(--dkOrange));
  border-radius: 15px;
  border: white solid 2px;
}
.cardfeed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*Recipe Card */
.recipe-card {
  background: linear-gradient(
    to right bottom,
    var(--ltOrange),
    var(--dkOrange)
  );
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3%;
  box-shadow: 2px 2px 1px 1px rgb(110, 109, 109);
}
.card-title {
  font-weight: bold;
  font-size: 35px;

  order: 1;
}
.title-button {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Add this line */
  padding-bottom: 0.5em;
}
#save-button {
  order: 2;
  color: white;
  background-color: var(--dkGreen);
  padding: 2%;
  border-radius: 7px;
  border: white solid 1px;
  box-shadow: 3px 3px rgb(85, 84, 84);
  transition-duration: 0.2s;
}
#save-button:hover {
  background-color: #606c38;
}
.instructions-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 0.8em;
}
#instructions-label {
  font-weight: 550;
  padding-left: 0.2em;
  font-size: 1.1em;
}
.instructions {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  text-align: left;
  font-size: 1em;
  font-weight: 450;
}
.card-image {
  max-width: 100%;
}
#cooking-time {
  font-weight: 400;
  font-size: 0.8em;
}
#cooking-time-label {
  font-weight: 500;
}
/* .btn {
  background-color: aliceblue;
} */

/* Create Recipe */
#create-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(
    to right bottom,
    var(--ltOrange),
    var(--dkOrange)
  );
  border-radius: 10px;
  box-shadow: 2px 2px rgb(158, 155, 155);
  margin: 20px;
  width: 400px;
}
.create-recipe-card form {
  display: flex;
  flex-direction: column;
}
#create-recipe-title {
  font-size: 1.5em;
  font-weight: 500;
}
/* Saved Recipes */
